<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->
                    <div class="col-md-1"></div>

                    <div class="col-md-10" id="blog-post">

                        <h2>{{ .Title }}</h2>

                        <span class="article-duration">{{ .ReadingTime }} min read</span>
                        
                        {{ partial "article_meta.html" . }}

                        {{ partial "tags.html" . }}

                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->

                        {{ partial "gallery.html" . }}

                        {{ partial "prev_next.html" . }}

                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    {{ if .Params.gallery }}
    <script src="/lib/gallery/js/blueimp-gallery.min.js"></script>

    <script>
    blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),{
        container: '#blueimp-gallery-carousel',
        carousel: true
    });
    </script>

    {{ end }}

  </body>
</html>
