/* css styles */
@media (max-width: 600px){
.about-image {
    display: none;
}
} 

@media (min-width: 600px){
    .profile-header .quarto-layout-row{
        flex-direction: row;
    }
    .formkit-form .formkit-fields {
        flex-direction: row!important;
    }
}

.about-image {
    border-radius: 50%;
}

.quarto-dark .navbar-dark{
    background-color: #1b1b1d;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: #dee2e6;
    background: #1b1b1d;
}

.quarto-dark .ex{
    color:#d4d0ab;
    font-weight: normal;    
}

.sourceCode .at{
    color:#d4d0ab;
    font-weight: normal;
}

.sourceCode .co{
    color:#d1b4e0;
    font-weight: normal;
}

code {
  font-size: 0.875em;
  color: #8f828f;
  background-color: #2b2b2b;
  border-radius: 0.25rem;
  padding: 0.125rem
rem
0.25rem;
  word-wrap: break-word;
}

a {
  color: #2d856f;
  text-decoration: none;
}

@media (min-width: 991px){
    .mobile-warning{
        display: none;
    }
}

.formkit-field {
    background-color: gray;
}

input[type="text"], textarea {

    background-color : #d1d1d1!important; 
  
  }