/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.meta-tags{
  text-align: right ;
}

#blog-post h2 {
  margin-bottom: 10px ;
  font-size: 25px ;
}

.article-duration{
  margin-top: 12px;
  float: right;
  font-size: 10px;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #5F9EA0;
  color: #fff
}

.article-toolbar a:hover, .article-toolbar a:focus {
  color: #5F9EA0;
}

#article-nav-newer, .article-date .article-toolbar {
  text-align: right;
}

.navbar {
  background: #DCDCDC;
   border-top: solid 3px;
}

.navbar ul.nav > li > a {
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0.08em;
  border-top: solid 5px transparent;
  color: black;
}

body {
  font-size: 15px ;
}

.bar {
  padding: 25px 0;
}

.bar .lead a {
  color: gray;
}

#article-nav, .article-date {
  display: flex;
  align-items: stretch;
  clear: both;
  margin-top: 10px ;
  font-size: 13px ;
}

#article-nav-older, #article-nav-newer, .article-date span {
  flex: 1;
}
#article-nav-newer, .article-date .article-toolbar {
  text-align: right;
}

pre.r code.hljs {
  border: 2px solid #dddddd ;
  background: #f4f4f4 ;
}
.article-toolbar a {
  margin-left: .2em;
}

.panel.sidebar-menu ul.nav ul li a {
  font-size: 10px;
  color: #5F9EA0;
}

.panel.sidebar-menu ul.tag-cloud li a {
  display: inline-block;
  padding: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}

#blog-listing-medium .post h2 {
  text-transform: none;
  font-size: 20px;
  font-weight: normal;
}

#blog-listing-medium .post {
  margin-bottom: 15px ;
}

.social-entry, .social-entry a {
  color: 	#5F9EA0;
  font-size: 14px ;
}

#footer .blog-entries .item .name h5 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 11px;
}

#copyright {
  padding: 15px 0;
  font-size: 12px;
  line-height: 20px;
}
