/* --- General --- */
body {
  font-family: 'Droid Serif', Georgia, 'Times New Roman', Times, Serif;
  font-size: 16px;
  color: #222222;
  position: relative;
  background: #FAF8F8;
  display: flex;
  flex-flow: column;
  height: 100vh;
  font-weight: 400;
  line-height: 1.5em;
}

.container[role=main] {
  margin-bottom:0px;
  flex: 1 0 auto;
}
p {
  line-height: 1.5;
  margin: 6px 0;
}
p + p {
    margin: 24px 0 6px 0;
}
p a {
  color: #36454f;
  text-decoration: none;
  border-bottom: dotted 1px #A1A3A1;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #36454f;
}

h2 {font-size: 20px}

a {
  color: #36454f;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0085a1;
}

blockquote {
  color: #808080;
  font-style: italic;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
  font-size: 15px;
}
blockquote p:first-child {
  margin-top: 0;
}

/* adding a dot after section number */
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}
/* end  */
.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}
.main-explain-area {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}
.hideme {
  display: none;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 85%;
}
.img-title {
  width: 100%;
}
.disqus-comments {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

/* --- Navbar --- */
.navbar-custom {
  background: #08253a;
  border-bottom: none;
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
}
.navbar-custom .nav li a {
  text-transform: none;
}
.navbar-custom,.navbar-custom .nav li a {
  background-color: #08253a;
  color: #ffffff;
  border: none;
  text-align: left;
  font-size: 110%;
  display: block;
  line-height: 1;
}
.navbar-brand {
  color: #536878;
  text-align: left;
  font-size: 110%;
  display: block;
  line-height: 1;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0085a1;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 5px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #536878;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}

/* --- Footer --- */

footer {
  padding: 20px 0;
  background-color: #111111;
  border-top: none;
  margin-top: auto;
}

footer a {
  color: #6c7989;
  border-bottom: none;
  font-size: 18px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 0;
    color: #6c7989;
}
/* footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
  color: #6c7989;
} */

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 18px;
  }
}

/* --- Post preview --- */
.post-preview {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 35px 0;
  }
}
.post-preview:last-child {
  border-bottom: 0;
}
.post-preview a {
  text-decoration: none;
  color: #23527C;
}
.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview .post-title {
  font-size: 15px;
  margin-top: 0;
  border-bottom: 1px dotted #b3cde0;
}
.post-preview .post-subtitle {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 80;
  margin-bottom: 10px;
  font-size: 12px;
  font-style: italic;
  color: #536878;
}

.post-preview .post-meta,
.post-heading .post-meta {
  color: #536878;
  border: none
  font-size: 11px;
  font-style: normal;
  margin: 0 0 10px;
}
.post-preview .post-meta a,
.post-heading .post-meta a {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #24292e;
  text-decoration: none;
  border: none;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
  padding: 5px 5px 3px 5px;
  background: #F8F8F8;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
  float: center;
}
.post-preview .post-entry {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: #222222;
  font-size: 15px;
}
.post-entry-container {
  display: inline-block;
  width: 100%;
}
.post-entry {
  width: 100%;
  margin-top: 5px;
}
.post-image {
  float: right;
  height: 100px;
  width: 100px;
  margin-top: -35px;
  filter: grayscale(90%);
}
.post-image:hover {
  filter: grayscale(0%);
}
.post-image img {
  border-radius: 100px;
  height: 192px;
  width: 192px;
}
.post-preview .post-read-more {
  font-size: 10px;
  /* display: inline-block; */
  line-height: 1;
  padding: 5px 5px 3px 5px;
  background:  #d0d6d8;
  color: #24292e;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 13px;
  float: right;
}

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 22px;
    color: #36454f;
    font-weight: bold;
  }
}

/* --- Tags --- */
.blog-tags {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  font-size: 15px;
  margin-bottom: 20px;
}

.blog-tags a {
  color: #008AFF;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-tags a:hover {
  border-radius: 2px;
  color: #008AFF;
  background-color: #CCC;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    height: 100px;
    width: 100px;
  }
  .post-image {
    width: 100%;
    text-align: center;
    margin-top: 0;
    float: left;
  }
}

/* --- Post and page headers --- */
.intro-header {
  margin: 80px 0 20px;
  position: relative;
}
.intro-header.big-img {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 51px; /* The small navbar is 50px tall + 1px border */
  margin-bottom: -2px;
}
.intro-header.big-img  .big-img-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.intro-header .page-heading,
.intro-header .tags-heading {
  text-align: center;
}

.intro-header.big-img .page-heading {
  padding: 100px 0;
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}
.intro-header.big-img .page-heading h1 {
  color: #FFF;
  font-size: 60px;
  padding: 5px 0;
  text-shadow: 1px 1px 3px #000;
}
/* .intro-header .page-heading h1, */
.intro-header .tags-heading h1 {
  margin-top: 0;
  font-size: 50px;
  color: inherit;
}
.intro-header.big-img .blog-heading h1 {
  margin-top: 0;
  font-size: 30px;
  color: #36454F;
}
.intro-header .page-heading .page-subheading {
  font-size: 25px;
  line-height: 1.1;
  display: block;
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 10px 0 0;
}
.intro-header.big-img .page-subheading {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 23px;
}

.intro-header .blog-heading h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.intro-header.big-img .blog-subheading {
  margin-bottom: 15px;
  color: #36454F;
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
}
.intro-header .blog-subheading {
  margin-bottom: 15px;
  color: #36454F;
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
}
.intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}
.intro-header.big-img .blog-meta {
  color: #36454F;
  font-weight: 200px;
}
.intro-header.big-img .img-desc {
  background: rgba(30, 30, 30, 0.6);
  position: absolute;
  padding: 5px 10px;
  font-size: 11px;
  color: #EEE;
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  right: 0;
  bottom: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header.big-img {
    margin-top: 60px;  /* Full navbar is small navbar + 20px padding on each side when expanded. changed from 91 default*/
  }
  .intro-header.big-img .page-heading {
    padding: 300px 0;
  }
  .intro-header.big-img .blog-heading  {
    padding: 60px 0;
  }

  .intro-header.big-img .travel-heading  {
    padding: 150px 0;
  }
  .intro-header .travel-heading h1{
    font-size: 30px;
    color: #FFF;
    font-weight: 80px;
    font-style: normal;
  }
  .intro-header .page-heading h1{
    font-size: 50px;
    color: inherit;
    font-weight: 200px;
  }
  .intro-header .tags-heading,
  .intro-header .about-heading h1 {
    font-size: 50px;
    color: inherit;
    font-weight: 150px;
    text-align: center;
  }
.intro-header.big-img .img-desc {
  font-size: 20px;
}
.header-section.has-img .no-img {
  margin-top: 0;
  background: #FCFCFC;
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 5px #AAA;
}
/* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */
.header-section.has-img .intro-header.no-img {
  display: none;
}
@media only screen and (max-width: 365px) {
  .header-section.has-img .intro-header.no-img {
    display: block;
  }
  .intro-header.big-img {
    width: 100%;
    height: 220px;
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .blog-heading {
    display: none;
  }
  .header-section.has-img .big-img {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 325px) {
  .intro-header.big-img {
    height: 400px;
  }
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Pager --- */
.pager li a {
  font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 600;
  background: #e0e3e5;
  border-radius: 10px;
  color: #404040;
  font-size: 11.25px;
  padding: 5px 5px 3px 5px;
}
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}
.pager {
  margin: 10px 0 0;
}
.pager.blog-pager {
  margin-top:10px;
}
@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 40px;
  }
}

/* Video context and twitterwidget */
iframe, twitterwidget, video {
  max-width: 100%;
  display: block;
  margin: auto;
  max-height: 85%
}

/* --- Tables --- */
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

/* --- Social media sharing section --- */
#social-share-section {
  margin-bottom: 30px;
}

/* --- Google Custom Search Engine Popup --- */
#modalSearch table tr, #modalSearch table tr td, #modalSearch table tr th {
  border:none;
}
.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button {
  box-sizing: content-box;
  line-height: normal;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  background: #f9f9f9;
}

code {background: #f9f9f9; font-size: 85%}
pre code {background: none;}

/* expanding taxinomies  */
@media only screen and (max-width: 767px) {
 .container[role=main] {
     margin-left: 0;
     margin-right: 0;
 }
}

div.panel-body a.list-group-item {
   font-family: 'Carlito', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 800;
   border-radius: 0;
   border: none;
 }
 div.panel-group .panel {
     border-radius: 0;
 }
 div.panel-group .panel+.panel {
     margin-top: 0;
 }

 div.panel-body a.list-group-item.view-all {
   font-weight: 600;
 }

 h4.panel-title > span.badge {
     float: right;
 }

/* Table of content */
 #TableOfContents, #TOC {
    border: 1px solid #eee;
    border-radius: 5px;
  }

.col-xs-2 {
    width: 17.66666667%;
    position: relative;
    min-height: 4px;
}
