body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Atkinson Hyperlegible;
  color: #024238;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
font-family: "Ruda";
color: #022b22;
font-weight: bold;
}

h1 {
    font-size: 1.8em;
    padding-bottom: 0.2em;
    line-height: 1.1em;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container > * {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container > * {
    width: auto;
    margin: 0 1.2em;
  }
}

#container header {
  margin-bottom: 1em;
}

#container header h1 {
  font-size: 1.5rem;
}

#container header h1 a {
  color: #dd2182;
  border: none;
  font-family: "Ruda";
}

#container header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

#container header ul li {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: none;
  }
  #container header ul li {
    margin: 0 1em 0 0;
  }
}

#container nav {
  border-bottom: solid 3px #cecece;
  padding-bottom: 0.5em;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#container nav ul li {
  margin-left: 1em;
}

#container nav ul li a.active {
  border-bottom: 0.5em solid #666666;
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

#container main section#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#container main section#home ul li {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#container main section#home ul li h2 {
  margin: 0.2em 0;
}

#container main section#home span {
  color: #666666;
}

#container main section#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#list ul li {
  padding: 0.5em 0;
  border-bottom: 1px solid #cecece;
}

#container main section#list ul li time, #container main section#list ul li span.count {
  float: right;
}

#container main section#list ul li:last-child {
  border-bottom: none;
}

#container main section.post-nav ul {
  margin: 0.5em 0;
  padding: 0.5em 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f7f7f7;
  font-size: 0.9em;
}

#container main article pre {
  background-color: #FDF6E3;
  overflow-x: auto;
  padding: 0.8em;
  font-size: 0.8em;
  box-shadow: 5px 5px 5px #eee;
  line-height: 1.6;
}

#container main article pre code {
  font-size: 0.9em;
}

#container main article p code {
  padding: 0.2em;
  background-color: #f9f9f9;
  font-size: 0.9em;
}

#container main article p kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 1em;
  color: #555555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #cccccc #bbbbbb;
  border-image: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main h1 {
  margin-bottom: 1rem;
  color: #666666;
  border: none;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#container footer {
  border-top: solid 1px #cecece;
}

#container footer h6 {
  font-size: 0.8em;
}

.meta-aside, #container main section#home ul li aside, #container main article aside {
  margin: 0.5em 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #909090;
  font-size: 0.8em;
}

.meta-aside ul, #container main section#home ul li aside ul, #container main article aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.meta-aside ul li, #container main section#home ul li aside ul li, #container main article aside ul li {
  margin: 0;
  padding: 0;
}

a {
    transition-property: color;
    transition-duration: .3s;
    color: #c50b65;
    text-decoration: none
}
.image, figure img, img {
  width: 100%;
  box-shadow: 0 3px 3px #fcfbfb;
  border-radius: 25px;
}

.full-image, figure.full img, img[src*="full"] {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  .full-image, figure.full img, img[src*="full"] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image, figure.mid img, img[src*="mid"] {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  .mid-image, figure.mid img, img[src*="mid"] {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }
  @media only screen and (max-width: 800px) {
    .mid-image, figure.mid img, img[src*="mid"] {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.float-image, figure.float img, img[src*="float"] {
  width: 300px;
  float: left;
  margin: 0 1em 1em -3em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image, figure.float img, img[src*="float"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.float-image-right, figure.float-right img, img[src*="float-right"] {
  width: 300px;
  float: right;
  margin: 0 -3em 1em 1em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image-right, figure.float-right img, img[src*="float-right"] {
    float: none;
    margin: 0;
    width: 100%;
  }
}

figure {
  margin: 0;
}

figure figcaption p {
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
}

figure.full {
  margin: 0;
}

figure.mid {
  margin: 0;
}

figure.float {
  margin: 0;
  float: left;
}

figure.float-right {
  margin: 0;
  float: right;
}

figure.float-right figcaption {
  margin-left: 1em;
}

table {
  width: 100%;
  border-bottom: solid 1px #cecece;
}

table thead {
  background-color: #cecece;
}

blockquote {
  margin: 1em;
  border-left: solid 0.1em #cecece;
  padding: 0.5em 2em;
  position: relative;
  background-color: #efefef;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

blockquote::before {
  content: "\f10d";
  font-size: 3em;
  font-family: "FontAwesome";
  color: rgba(192, 192, 192, 0.3);
  position: absolute;
  left: 6px;
  top: 0;
}

@media only screen and (max-width: 800px) {
  blockquote {
    margin: 1em 0;
    padding: 0.5em;
  }
}

dl dd {
  font-style: italic;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 1em;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  background: #f8f8f8;
  padding: 1em;
  overflow-x: auto;
}
