{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}
        {{ if .Site.Params.socialShare }}
            <hr/>
            <section id="social-share">
              <ul class="list-inline footer-links">
                {{ partial "share-links" . }}
              </ul>
            </section>
        {{ end }}
      </article>

      {{ if .Params.toc }}
      {{ .TableOfContents }}
      {{ end }}

      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}"> {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

      {{ if .File.Path }}
         {{ $.Scratch.Set "FilePath" .File.Path }}
         {{ $RmdFile := (print .File.BaseFileName ".Rmd") }}
         {{ $Files := readDir (print "content/" .File.Dir) }}
         {{ if (where $Files "Name" $RmdFile) }}
           {{ $.Scratch.Set "FilePath" (print .File.Dir $RmdFile) }}
         {{ else }}
           {{ $RmdFile := (print .File.BaseFileName ".Rmarkdown") }}
           {{ if (where $Files "Name" $RmdFile) }}
             {{ $.Scratch.Set "FilePath" (print .File.Dir $RmdFile) }}
           {{ end }}
         {{ end }}

       {{ end }}
       
      </div>
      {{ with .Site.Params.GithubEdit}}
       <a href="{{ . }}{{ $.Scratch.Get "FilePath" }}">Suggest and edit</a>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
