{{ if .Params.gallery }}

<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">

  {{ $gallery := .Params.gallery }}
  {{ $sourcePath := ( printf "static/img/gallery/%s" $gallery ) }}
  {{ $files := readDir $sourcePath }}
  {{ range $files }}
    <a href="/img/gallery/{{ $gallery }}/{{ .Name }}"></a>
  {{ end }}

</div>
{{ end }}
